*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 47, 0);
}

h1{
    width: 300px;
    height: 40px;
    background-color: bisque;
    justify-content: end;
    display: flex;
    color: blue;
}
p{
  width: 300px;
    height: 40px;
    background-color: bisque;
    justify-content: end;
    display: flex;
    color: blue;  
}